.gradient-background {
  background-image: linear-gradient(to right, #FFC0CB, #87CEFA);
}
body {
  background: linear-gradient(135deg, #F8B195, #F67280, #C06C84, #6C5B7B, #355C7D);
}


.button-animation {
  transition: transform 0.5s;
}

.button-animation:hover {
  transform: scale(1.1);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.degradado {
  background: linear-gradient(to bottom right, #d3c6c1, #e5d5cf);
  animation: degradado 5s ease-in-out infinite alternate;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}